@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Thai', sans-serif;
}
body {
    scroll-behavior: smooth;
}
.buscador-form {
    display: flex;
    justify-content: space-around;
    background-color: #009aae;
    flex-wrap: wrap;

}
.buscador-title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px;
    letter-spacing: 4px;
}
.buscador-title h2{
    background-color: #15daf3;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
}

.buscador-title h2:hover{
    background-color: rgb(24, 188, 238);
    
}
.buscador-title h3{
    color: #fff;    
}



.buscador-cursos {
    
    /* flex-direction: column; */
    /* padding: 20px; */
    max-width: 100%;
} 

.buscar-input {
    background-color: #15daf3;
    color: #fff;
}
.buscar-input:hover {
    background-color: rgb(24, 188, 238);
}
.buscador-input {
    display: flex;
    gap: 10px;
    padding: 24px;
    flex-wrap: wrap;
}
.buscador-input input {
    padding: 6px;
    border: none;
    border-radius: 15px;
    width: 100%;
}

.buscador-input input:focus {
    outline: none;

}

.busqueda-resultados{
    display: flex;
    margin-top: 10px;
    text-align: left;
    overflow-x: auto; /* Barra de desplazamiento horizontal en pantallas pequeñas */
    flex-wrap: wrap;
    justify-content: center;
}
.tabla-resultados {
    width: 100%; /* Ajusta el ancho de la tabla en pantallas pequeñas */
    overflow-x: auto; /* Barra de desplazamiento horizontal en pantallas pequeñas */
    border-collapse: collapse; /* Para evitar espacios entre celdas */
}
.tabla-resultados tr th{
    background-color: #15daf3;
    color: #fff;
    
}

/* .tabla-resultados tr th {
    border-top: 2px solid rgb(165, 165, 165);
    border-left:2px solid rgb(165, 165, 165);

} */

.tabla-resultados tr, td, th {
    /* border-top: 2px solid rgb(165, 165, 165);

    border-left:2px solid rgb(165, 165, 165);
    border-bottom: 2px solid rgb(165, 165, 165); */ /* Cambia el color y el estilo del borde inferior */
    border-bottom: 1px solid rgb(33, 33, 33);
}


.cambiar-estado{
    border: none;
    border-radius: 15px;
}
.fa-toggle-on{
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgb(31, 218, 87);
    color: #f2f2f2;
    cursor: pointer;

}

.fa-toggle-off{
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgb(218, 31, 31);
    color: #f2f2f2;
    cursor: pointer;
}


.editar-buttom i {
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: #15daf3;
    
    color: #f2f2f2;
}

.editar-buttom i:hover {
    background-color: rgb(24, 188, 238);
    

    color: #f2f2f2;
}



.tabla-resultados th,
.tabla-resultados td {
    padding: 5px; /* Reduce el espacio entre las celdas */
    text-align: center;

}
.tabla-resultados td {
    border: 1px solid #909090;

}
.tabla-resultados tr:nth-of-type(odd){
    background-color: #e6e6e6;
}



@media (max-width: 768px) {
    .tabla-resultados td, .tabla-resultados th{
        display: none; 
        padding: 30px;
        border-bottom: 1px solid rgb(33, 33, 33);/* Cambia el color y el estilo del borde inferior */
    }

    .tabla-resultados th {
        display: none;
    }
    .buscador-cursos {
        flex-direction: column; /* Cambia a dirección de columna en pantallas pequeñas */
    }
    
    .tabla-resultados {
        width: 100%; /* Ajusta el ancho de la tabla en pantallas pequeñas */
        overflow-x: auto; /* Barra de desplazamiento horizontal en pantallas pequeñas */
    }

    .buscador-form {
        display: flex;
    }

    /* .borrar-buttom, .editar-buttom {
        width: 100%;
    } */

    .tabla-resultados tr td input{
        padding: 8px;
    }

    .buscador-input input {
        padding: 10px 20px;
    }
    .busqueda-resultados {
        margin-top: 0;
    }
}

.busqueda-resultados-mobile {
    display: none;
    width: 100%;
}

.busqueda-resultados-mobile .fila .columna{
    display: flex;
}

.busqueda-resultados-mobile .fila .columna .titulo, .busqueda-resultados-mobile .fila .columna .contenido{
    border: 1px solid #909090;
    border-bottom: none;
    padding: 10px;
}

.busqueda-resultados-mobile .fila .columna .titulo {
    width: 40%;
    background-color: #15daf3;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.busqueda-resultados-mobile .fila .columna .contenido {
    width: 60%;
    text-align: center;
}

.busqueda-resultados-mobile .fila:nth-of-type(even) .columna .contenido{/* pares */
    background-color: #e6e6e6;
}

.busqueda-resultados-mobile .fila .columna:last-of-type .contenido, 
.busqueda-resultados-mobile .fila .columna:last-of-type .titulo{
    border-bottom: 1px solid #000000;
}

.borrar-boton i{
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgb(218, 31, 31);
    color: #f2f2f2;
    display: flex;
    justify-content: center;

}

.borrar-boton i:hover {
    background-color: rgb(161, 29, 29);
    color: #f2f2f2;
}
.editar-boton i {
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: #15daf3;
    color: #f2f2f2;
    display: flex;
    justify-content: center;

}

.editar-boton i:hover {
    background-color: rgb(24, 188, 238);
    

    color: #f2f2f2;
}
@media (max-width: 768px) {
    .busqueda-resultados-mobile {
        display: block ;
    }


}

.filtrar-busqueda {
    display: flex;
    gap: 19px;
    align-items: center;
    justify-content: center;
}

/* display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center; */

.filtrar-opciones-contenedor .filtrar-item option{
    background-color: #000000;
    border-radius: 20px;
}